  body {
    font-family: "Raleway";
    background-color: black;
    color: white;
}

.heading {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 8px;
    flex-direction: column;
    border: 6px solid;
    /*border-radius: 50%;*/
    box-shadow: 0 0 50px #0028ff, inset 0 0 50px #0028ff;
    animation: blink 6s alternate infinite;
    animation-delay: 3s;
}

h1, h3 {
    text-align: center;
    text-shadow: 0 0 10px white, 0 0 60px #7f00ff, 0 0 30px #7f00ff;
    animation-delay: 1s;
    animation: blink 6s alternate-reverse infinite;
    /*font-size: 6.5vw;*/
}

/*h3 {
    *font-size: 3.5em;
}*/

@keyframes blink {
    0%, 2%, 4%, 6%, 30%, 32%, 75%, 77%, 100% {opacity: 1}
    3%, 5%, 31%, 76% {opacity: 0.7;}
}

h4, h5 {
    background-color: black;
    color: white;
    font-size: 20px;
    border: white solid 3px;
    box-shadow: 0 0 50px #0028ff, inset 0 0 5px #0028ff;
    padding: 3px 0;
}

h5 {
    opacity: 0;
}

h6 {
    font-size: 25px;
}


.subchoice {
    padding-left: 5%;
}

#selectform {
    border: 15px black;
    font-size: 20px;
}

button {
    font-size: 20px;
    border: 3px solid;
    color: white;
    background-color: black;
    box-shadow: 0 0 50px #0028ff;
    margin: 2% 1%;
    padding: 2px;
    width: 148px;
}

.buttons {
    margin-bottom: 5%;
    margin-top: 3%;
    text-align: center;
}

.modal { /*(background)*/
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/*modal animation*/
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

.modal_content {
    background-color: black;
    margin: 15% auto;
    /*border: 1px solid #888;*/
    width: 80%;
    border: 6px solid;
    box-shadow: 0 0 50px #0028ff, inset 0 0 50px #0028ff;
    font-size: 20px;
}

.modal_header {
    padding: 2px 16px 2px 30px;
}

h3.your_order {
    text-align: left;
    font-size: 27px;
}

.modal_body,
.modal_footer {
    padding: 0 40px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (min-width:760px) {
.size_container {
    width: 97.6%;
    margin: 20px 1.15%;
    text-align: center;
}

.size {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    height: 27px;
    width: 100%;
}

#personal, #medium, #large {
    margin: 0 15% 0 0;
}

#extralg {
    margin: 0 1% 0 0;
}

.crust_container, .sauce_container, .cheese_container {
    width: 31%;
    float: left;
    margin: 10px 1.15% 130px;
    height: 100px;
    box-sizing: border-box;
    display: block;
}

#selectform {
    background-color: black;
}

/* input[type="radio"] {
    margin-left: 5px;
} */

h5 {
    opacity: 1;
    height: 25px;
    width: 96.9%;
    margin: 0 1.15%;
    text-align: center;
    clear: both;
}

.meat_container, .veggie_container:nth-child(2n) {
    clear: left;
}
.meat_container, .veggie_container {
    width: 47.65%;
    float: left;
    margin: 0px 1.15% 50px;
}

.buttons {
    margin-top: 80px;
    margin-bottom: 50px;
}

.modal_content {
    width: 50%;
}

/*.modal_header {
    padding-left: 8%;
}
.modal_body,
.modal_footer {
    padding: 0 8%;
}*/

}